#map{
    height: 600px;
    width: 600px;
}
button {
background-color: #4CAF50; /* Green */
    border: 2px black dashed;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}